.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* !Tablet */
@media screen and (min-width: 421px) and (max-width:992px) {

  /* RESET */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    margin: 0; 
  }

  img{
    width: 50%;
    object-fit: contain;
  }

  #why .row img {
    background-color: #428bca;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    padding: 30px;
    margin-bottom:10px;
  }


  .row {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-top: .3px solid rgb(42, 42, 87);
    border-bottom: .3px solid rgb(42, 42, 87);
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
  width: 40% ;
  margin:0 5%;
  float: left;

}

/* BLOCCO STEPS */ 
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: left;
  width: calc((100% / 3) - 10%);
  margin:0 5%;
}

/* blocco Why */
#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 50%;
  height: 50%;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid rgb(177, 214, 247);
  border-radius: 5%;
}

#why .first>img,
#why .second>img,
#why .third>img{
  object-fit: contain;
  width: 80%;
}

.row > h1 {
  text-align: center;
  text-transform: uppercase;
}

.row h3{
  margin:0 0 10px;
  text-transform: uppercase;
}

#lezioni,#steps,#why{
  background-color:aliceblue;
}


}


/* ! MOBILE  */

@media screen and (max-width:420px) {

  body{
    margin: 0; 
  }

  .row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    
  }

  img {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
  width: 100%;
  float: none;
  
  }


  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
  float: none;
  width: 100%;
  margin-bottom:10px ;
  }


  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  width: 100%;
  margin-top:0;
  }

  .row > h1 {
    text-align: center;
  }

  .row h3{
    margin: 0;
  }

  #steps{
    background-color: white;
    padding: 10px;
  }

  #lezioni,#why{
    background-color: #f2f2cd;
    padding: 10px;
  }
  
}
